


@font-face {
  font-family: 'MonteCrysto';
  src: url('../assets/fonts/MonteCrystoReguler.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


:root {
  --terracotta:  #9B2E15;
  --beige:       #D6B996;
  --base:        #EAE3DA;
  --burgundy:    #4A1811;
  --navy:        #09354A;

  --font-display: 'MonteCrysto', Georgia, serif;
  --font-body:    'Sweet Sans Pro', Helvetica, sans-serif;

  --h1-size:  2.5rem;    /* 40px */
  --h3-size:  1rem;     /* 16px */
  --p-size:   0.75rem;  /* 12px */

  --nav-height: 64px;
  --transition: 0.3s ease;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


header {
  background: var(--base);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--nav-height);
  z-index: 100;
}

.container-full {
  height: 100%;
  padding: 0 10%;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo img {
  height: 50px;
}

.menubottom {
  display: flex;
  align-items: center;
  gap: 1rem;
}



/* menu mobile che si apre con .open*/

.menu {
  display: none;
  position: absolute;
  top: var(--nav-height);
  left: 0;
  right: 0;
  background: var(--base);
  padding: 1.5em 0;
  
}

.menu.open {
  display: block;
  height: 100vh;
}

.menu.oper a:hover {
  color: var(--burgundy);
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.menu li {
  width: 100%;
  text-align: center;
  
}

.menu a {
  display: block;
  padding: 0.75em 1.25em;
  font-family: var(--font-body);
  font-size: var(--h3-size);
  color: var(--terracotta);
  transition: color var(--transition);
  text-decoration: none;
}

.menu a:hover {
  color: var(--burgundy);
}

.prenotaunacalltendina {
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-top: 1rem;
  text-align: center;
  padding: 0.6em 1em;
  font-family: var(--font-display);
  font-size: 1rem;;
  color: var(--base);
  background: var(--terracotta);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: color var(--transition);
}

.prenotaunacalltendina:hover {
  color: var(--burgundy);
}

/* bottone cta navbar - no mobile solo desktop */

.prenotaunacall {
  display: none;
  color: var(--base);

}

.button {
  background-color: var(--terracotta);
  border-radius: 15px;
}


/* HAMBURGER visibile solo mobile */

.toggleMenu {
  display: block;
  background: var(--base);
  border: none;
  cursor: pointer;
  padding: 0;
}

.toggleMenu img {
  height: 24px;
  width: auto;
  display: block;
}


/* hero*/


.hero {
  padding-top: calc(var(--nav-height) + 2rem);
  padding-bottom: 3rem;
  background-color: var(--beige);
}

.hero h1 {
  font-family: var(--font-display);
  font-size: var(--h1-size);
  color: var(--terracotta);
  margin-bottom: 1.5rem;
  line-height: 0.9;
  text-align: center;
}

.hero p {
  font-size: var(--p-size);
  color: var(--burgundy);
  padding-bottom: 0.5rem;
  line-height: 1.1;
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;

}

.imghero {
  display: flex;
  justify-content: center;
}

.imghero img {
  width: 80%;
  height: auto;
  display: block;
  padding-top: 2rem;
  }


.scrivimi {
  background-color: var(--navy);
  color: var(--base);
  border: none;
  border-radius: 12px;
  padding: 0.85em 2em;
  font-family: var(--font-display);
  font-size: var(--p-size);
  cursor: pointer;
  transition: background var(--transition);
}

.scrivimi:hover {
  background-color: var(--terracotta);
  color: var(--base);
}

.scopricomelavoro {
  background-color: transparent;
  color: var(--navy);
  border: 3px solid var(--navy);
  border-radius: 12px;
  padding: 0.85em 2em;
  font-family: var(--font-display);
  font-size: var(--p-size);
  cursor: pointer;
  transition: background var(--transition);
}

.scopricomelavoro:hover {
  background-color: var(--terracotta);
  border: none;
  color: var(--base);
}

.hero-ctas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}


/* about me*/


.aboutme {
  padding-top: 2.5rem;
  padding-bottom: 3rem;
  background-color: var(--base);
}

.aboutme h1 {
  color: var(--terracotta);
  text-align: center;
  font-family: var(--font-display);
  font-size: var(--h1-size);
  margin-bottom: 1.5rem;
  line-height: 0.9;
}

.aboutme p {
  font-size: var(--p-size);
  color: var(--burgundy);
  padding-bottom: 0.5rem;
  line-height: 1.1;
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

.aboutme-img {
  display: flex;
  justify-content: center;
}

.aboutme-img img {
  width: 80%;
  height: auto;
  display: block;
  padding-top: 2rem;
}


/* step come lavoreremo*/

.step {
  padding-top: 2.5rem;
  padding-bottom: 3rem;
  background-color: var(--navy);
}

.step-title {
  text-align: center;
}

.step-title h1 {
  color: var(--beige);
  font-family: var(--font-display);
  font-size: var(--h1-size);
  line-height: 0.9;
  margin-bottom: 1rem;
}

.step-title p {
  font-size: var(--p-size);
  color: var(--base);
  line-height: 1.1;
}

.step-card {
  background-color: var(--beige);
  border-radius: 12px;
  padding: 1.5rem;
  height: 100%;
}

.step-card-descrizione h1 {
  font-family: var(--font-display);
  font-size: var(--h1-size);
  margin-bottom: 1rem;
  line-height: 0.9;
  text-align: left;
  color: var(--terracotta);
}

.step-card-descrizione h3 {
  font-family: var(--font-display);
  font-size: var(--h3-size);
  line-height: 0.9;
  text-align: left;
  color: var(--terracotta);
}
.step-card-descrizione p {
  font-size: var(--p-size);
  text-align: left;
  line-height: 1.1;
  color: var(--burgundy);
}

/* portfolio*/

.portfolio {
  background-color: var(--beige);
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.portfolio-title h1 {
  font-family: var(--font-display);
  font-size: var(--h1-size);
  color: var(--terracotta);
  margin-bottom: 1.5rem;
  line-height: 0.9;
  text-align: center;
}

.portfolio-title p {
   font-size: var(--p-size);
  color: var(--burgundy);
  padding-bottom: 0.5rem;
  line-height: 1.1;
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

.portfolio .container-fluid {
  padding-left: 10%;
  padding-right: 10%;
}

.carousel-item img {
  border-radius: 12px;
  width: 100%;        
  height: 300px;      
  object-fit: cover; 
}

.portfolio-cta {
  display: flex;
  justify-content: center;
  padding-top: 2rem;

}
.guardaimieiprogetti {
  background-color: transparent;
  color: var(--terracotta);
  border: 3px solid var(--terracotta);
  border-radius: 12px;
  padding: 0.85em 2em;
  font-family: var(--font-display);
  font-size: var(--p-size);
  cursor: pointer;
  transition: background var(--transition);
}


.guardaimieiprogetti:hover {
  background-color: var(--terracotta);
  border: none;
  color: var(--base);
}

/*form di contatto*/

.form {
  padding-top: calc(var(--nav-height));
  padding-bottom: 3rem;
  background-color: var(--base);
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.form h1 {
  font-family: var(--font-display);
  font-size: var(--h1-size);
  color: var(--terracotta);
  margin-bottom: 1.5rem;
  line-height: 0.9;
  text-align: center;
}

.form p {
  font-size: var(--p-size);
  color: var(--burgundy);
  padding-bottom: 0.5rem;
  line-height: 1.1;
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

.form-box {
  background-color: var(--burgundy);
  border-radius: 20px;
  padding: 1.5rem;
  
}

.form-box form {
  display: flex;
  flex-direction: column;  
  gap: 1rem; 
}

.form-box h1 {
  font-family: var(--font-display);
  font-size: var(--h3-size);
  color: var(--beige);
  text-align: center;
  margin-bottom: 1rem;
}

.form-field input,
.form-field textarea {
  width: 100%;
  font-family: var(--font-body);
  font-size: var(--p-size);
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 8px;
  background-color: var(--base);
  color: var(--burgundy);
  outline: none;
  transition: background-color var(--transition);
  gap: 15px;
}

.form-field input::placeholder,
.form-field textarea::placeholder {
  color: var(--burgundy);
}

.form-field textarea {
  resize: vertical;
  min-height: 100px;
}

.form-field button {
  width: 100%;
  background-color: var(--beige);
  color: var(--burgundy);
  border: none;
  border-radius: 8px;
  padding: 0.85rem;
  font-family: var(--font-display);
  font-size: var(--p-size);
  cursor: pointer;
  transition: background-color var(--transition);
}

.form-filed button:hover {
  background-color: var(--terracotta);
  color: var(--base);
}

/*footer*/

.footer {
  background-color: var(--terracotta);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}

.footer-logo img {
  height: 120px;
}

.footer-social {
  display: flex;
  gap: 1.25rem;
}

.footer-social img {
  height: 22px;
  width: auto;
  transition: opacity var(--transition);
}

.footer-social a:hover img {
  opacity: 0.7;
}

.footer-top {
  font-family: var(--font-body);
  font-size: var(--p-size);
  color: var(--base);
  text-decoration: none;
  letter-spacing: 0.08em;
  transition: opacity var(--transition);
}

.footer-top:hover {
  opacity: 0.7;
}

.footer-line {
  width: 80%;
  border: none;
  border-top: 2px solid var(--base);
  opacity: 0.4;
}


/*pagina progetti*/


.progetti-hero {
  background-color: var(--base);
  padding-top: calc(var(--nav-height) + 2rem);
  padding-bottom: 2rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.progetti-titolo h1 {
  font-family: var(--font-display);
  font-size: var(--h1-size);
  color: var(--terracotta);
  line-height: 0.9;
  margin-bottom: 1.5rem;
  text-align: center;
}

.progetti-titolo p {
  font-family: var(--font-body);
  font-size: var(--p-size);
  color: var(--burgundy);
  line-height: 1.4;
  text-align: center;
}

.progetti-grid {
  background-color: var(--base);
  padding-bottom: 3rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.progetto-card {
  display: block;
  position: relative;
  border-radius: 12px;
  overflow: hidden;         
  text-decoration: none;
  aspect-ratio: 4 / 3;
}


.progetto-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform var(--transition);
}


.progetto-cover {
  position: absolute;
  inset: 0;                  
  background-color: rgba(74, 24, 17, 0.85); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.5rem;
  opacity: 0;                 
  transition: opacity var(--transition);
}

.progetto-cover h3 {
  font-family: var(--font-display);
  font-size: 1.5rem;
  color: var(--base);
  margin-bottom: 0.5rem;
}

.progetto-cover p {
  font-family: var(--font-body);
  font-size: var(--p-size);
  color: var(--beige);
  line-height: 1.3;
}

/* HOVER: la cover appare e l'immagine fa zoom */
.progetto-card:hover .progetto-cover {
  opacity: 1;
}

.progetto-card:hover .progetto-img {
  transform: scale(1.08);
}


.progetti-cta {
  background-color: var(--navy);
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  text-align: center;
}

.progetti-cta h2 {
  font-family: var(--font-display);
  font-size: var(--h1-size);
  color: var(--beige);
  line-height: 1;
  margin-bottom: 2rem;
}

.prenota-cta {
  background: var(--terracotta);
  color: var(--base);
  border: none;
  border-radius: 12px;
  padding: 0.6em 1.5em;
  font-family: var(--font-display);
  font-size: 1.2rem;
  cursor: pointer;
  white-space: nowrap;
  transition: background var(--transition);
}

.prenota-cta:hover {
  background: var(--burgundy);
}

/*pagina progetto singolo*/


.progetto-header {
  background-color: var(--terracotta);
  padding-top: calc(var(--nav-height) + 2rem);
  padding-bottom: 2rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.progetto-header h1 {
  font-family: var(--font-display);
  font-size: var(--h1-size);
  color: var(--base);
  line-height: 0.9;
  margin-bottom: 0.5rem;
}

.progetto-sottotitolo {
  font-family: var(--font-body);
  font-size: var(--p-size);
  color: var(--beige);
  letter-spacing: 0.05em;
}


.progetto-blocco {
  background-color: var(--base);
  padding-top: 2.5rem;
  padding-bottom: 1rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}


.progetto-testo h2 {
  font-family: var(--font-display);
  font-size: var(--h1-size);
  color: var(--terracotta);
  line-height: 0.9;
  margin-bottom: 0.75rem;
}

.progetto-descrizione {
  display: block;
  font-family: var(--font-body);
  font-size: var(--p-size);
  color: var(--burgundy);
  letter-spacing: 0.1em;
  margin-bottom: 1rem;
}

.progetto-testo p {
  font-family: var(--font-body);
  font-size: var(--p-size);
  color: var(--burgundy);
  line-height: 1.5;
}

.progetto-img-singola img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  display: block;
}


.progetto-galleria {
  background-color: var(--base);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.progetto-galleria img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  display: block;
  
}

.progetto-img-larga {
  width: 100vw;           
  position: relative;
  left: 50%;              
  margin-left: -50vw;    
  right: 50%;
  margin-right: -50vw;
  
}


/* navigazione tra progetti */

.progetto-nav {
  background-color: var(--base);
  padding-top: 2.5rem;
  padding-bottom: 3rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}


.progetto-nav-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.progetto-nav-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: var(--font-display);
  font-size: 1.25rem;
  color: var(--terracotta);
  text-decoration: none;
  transition: color var(--transition);
}

.progetto-nav-link:hover {
  color: var(--burgundy);
}

/* la freccia si sposta all'hover */

.nav-freccia {
  transition: transform var(--transition);
}

.nav-prev:hover .nav-freccia {
  transform: translateX(-6px);
}

.nav-next:hover .nav-freccia {
  transform: translateX(6px);
}


/* pagina about me*/


.chisono {
  padding-top: calc(var(--nav-height) + 2rem);
  padding-bottom: 3rem;
  background-color: var(--beige);
}

.chi-sono-text h1 {
  font-family: var(--font-display);
  font-size: var(--h1-size);
  color: var(--terracotta);
  margin-bottom: 1.5rem;
  line-height: 0.9;
  text-align: center;
}

.chi-sono-text p {
  font-size: var(--p-size);
  color: var(--burgundy);
  padding-bottom: 0.5rem;
  line-height: 1.1;
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;

}

.chi-sono-img {
  display: flex;
  justify-content: center;
}

.chi-sono-img img {
  width: 80%;
  height: auto;
  display: block;
  border-radius: 12px;
  padding-top: 2rem;
}



/* BREAKPOINT TABLET — min-width: 768px */

@media (min-width: 768px) {

   .hero {
    padding-top: calc(var(--nav-height) + 3rem);
  }

  .hero h1 {
    font-size: 4rem;
  }

  .hero p {
    font-size: 1.5rem;
    
  }

  .hero-ctas {
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    
  }

  .scrivimi, .scopricomelavoro {
    font-size: 1rem; 
  }

 .carousel-item img {       
  height: 400px;      
  }

.guardaimieiprogetti {
    font-size: 1rem; 
  }

}

/* BREAKPOINT DESKTOP — min-width: 1200px (xl Bootstrap) */

@media (min-width: 1200px) {

  header {
    height: 100px;
  }

  :root {
    --nav-height: 100px;
  }  

  .menu {
    display: block;
    position: static;
    background: none;
    padding: 0;
    box-shadow: none;
  }

  .menu ul {
    flex-direction: row;
    gap: 0;
  }

  .menu li {
    width: auto;
  }

  .menu a {
    padding: 0.5rem 1rem;
    font-size: var(--p-size);
  }

  /* bottone cta navbar che compare */
  .prenotaunacall {
    display: block;
    background: var(--terracotta);
    color: var(--base);
    border: none;
    border-radius: 12px;
    padding: 0.5em 1.25em;
    font-family: var(--font-display);
    font-size: 1.5rem;
    cursor: pointer;
    white-space: nowrap;
  }

  .prenotaunacall:hover {
    background: var(--burgundy);
  }

  
  .toggleMenu {                    /* hambuerger viene nascosto su desktop */
    display: none;    
  }
  .prenotaunacalltendina {          /* hambuerger viene nascosto su desktop */
    display: none;
  }


  .menu a {
    padding: 0.5rem 1.25rem;
    font-size: var(--h3-size);
  }



/* hero */

   .hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-top: var(--nav-height);
    padding-bottom: 2rem;
  }

  .hero .container-fluid {
    padding-left: 10%;
    padding-right: 10%;
  }

   .hero h1 {
    text-align: left;
    font-size: 5rem;
  }

  .hero p {
    text-align: left;
    padding-top: 2rem;
    padding-left: 0;
    padding-right: 0;
    font-size: 1.5rem;
  }


  .imghero img {
    width: 100%;
    padding-top: none;
  }

  .hero-ctas {
  flex-direction: row;
  justify-content: flex-start;
  width: auto;    
  margin: 0; 
  padding-top: 2rem;
  }
 
  .scrivimi, .scopricomelavoro {
    font-size: 1.5rem; 
  }




/* about me */


 .aboutme .container-fluid {
    padding-left: 10%;
    padding-right: 10%;
  }

  .aboutme h1 {
  color: var(--terracotta);
  text-align: center;
  font-family: var(--font-display);
  font-size: 4rem;
  margin-bottom: 1.5rem;
  line-height: 0.9;
  text-align: left;
}

.aboutme p {
  font-size: 1.5rem;
  color: var(--burgundy);
  line-height: 1.1;
  text-align: left;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 2rem;

}

.aboutme-img {
  display: flex;
  justify-content: center;
}

.aboutme-img img {
  width: 100%;
  height: auto;
  display: block;
  padding-top: 1rem;
}

/* step come lavoreremo */

.step-title {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.step-title h1 {
  font-size: 4rem;
}

.step-title p {
  font-size: 1.5rem;
}

.step-card {
  height: 215px
}

.step-card {
    padding: 2.5rem;
  }
  
.step .container-fluid {
  padding-left: 10%;
  padding-right: 10%;
}





/* cards cover solo desktop */


.step-card-wrap {
    position: relative;
    height: 340px;
  }

.step-card-wrap .step-card {
    height: 100%;
  }  
.step-card-descrizione h1 {
    font-size: 4rem;
}

.step-card-descrizione h3 {
    font-size: 2.5rem;
}

.step-card-descrizione p {
    font-size: 1.5rem;
}



.step-card-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--terracotta);
    border-radius: 12px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    cursor: pointer;
    opacity: 1;
    transition: opacity var(--transition);
  }

 .step-card-cover h1 {
    font-family: var(--font-display);
    font-size: 6rem;
    line-height: 0.9;
    color: var(--beige);
    margin-bottom: 6rem;
  }

  .step-card-cover h3 {
    font-family: var(--font-display);
    font-size: 3rem;
    line-height: 0.9;
    text-align: left;
    color: var(--base);
  }

  .step-card-wrap:hover .step-card-cover {
    opacity: 0;
  }


/* portfolio*/

.portfolio {
  padding-top: 6rem;

}
.portfolio-title h1 {
  font-size: 5rem;;
}

.portfolio-title p {
  font-size: 1.5rem;;
}

.carousel-item img {       
  height: 800px;      
  }

.guardaimieiprogetti {
    font-size: 1.5rem; 
  }

/*form di contatto*/

.form .container-fluid {
  padding-left: 10%;
  padding-right: 10%;
}

.form-text {
  align-self: start;
}

.form-text h1 {
  font-size: 4rem;
  text-align: left;
  margin-bottom: 4rem;
}


.form-text p {
  font-size: 1.5rem;
  text-align: left;
  padding-left: 0;
  padding-right: 0;
  max-width: 80%;
}

.text-extra {
  margin-top: 2rem;
}

.form-box {
  padding: 2.5rem;
}

.form-box h1 {
  font-size: 2rem;
}

.form-field button {
  font-size: 1.5rem;
}

/*footer*/

.footer-social img {
  height: 32px;
  width: auto;
  transition: opacity var(--transition);
}

.footer-logo img {
  height: 200px;
}

.footer-line {
   width: 80%;
  border: none;
  border-top: 4px solid var(--base);
  opacity: 0.4;
}



/*pagina progetti*/

.progetti-hero {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: calc(var(--nav-height) + 5rem);
}

.progetti-titolo h1 {
  font-size: 4rem;
  
}

.progetti-titolo p {
  font-size: 1.5rem;
}

.progetti-grid {
  padding-left: 10%;
  padding-right: 10%;
  
}

.progetto-cover h3 {
  font-size: 2rem;
}

.progetto-cover p {
  font-size: 1rem;
}


.progetti-cta {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 10%;
  padding-right: 10%;
}

.progetti-cta h2 {
  font-size: 4rem;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.prenota-cta {
  font-size: 1.5rem;
}


/* pagina progetto singolo */

.progetto-header {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: calc(var(--nav-height) + 3rem);
  padding-bottom: 3rem;
}

.progetto-header h1 {
  font-size: 5rem;
}

.progetto-blocco {
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 10%;
  padding-right: 10%;
}

.progetto-testo h2 {
  font-size: 4rem;
}

.progetto-testo p {
  font-size: 1.25rem;
  padding-right: 6rem;
}

.progetto-descrizione {
  font-size: 1rem;
}


.progetto-galleria {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.coppia-1 .row img {
  height: 600px;
  object-fit: cover;  
}

.progetto-img-larga {
  padding-bottom: 3rem;
}


/* navigazione tra progetti desktop ai lati opposti */

.progetto-nav {
  padding-left: 10%;
  padding-right: 10%;
}

.progetto-nav-content {
  flex-direction: row;
  justify-content: space-between;
}

.progetto-nav-link {
  font-size: 1.5rem;
}




/* pagina about me */


.chisono .container-fluid {
  padding-left: 10%;
  padding-right: 10%;
}

.chisono {
  padding-top: calc(var(--nav-height) + 3rem);
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.chi-sono-text h1 {
  font-size: 5rem;
  text-align: left;
}

.chi-sono-text p {
  font-size: 1.15rem;
  text-align: left;
  padding-left: 0;
  padding-right: 0;
  line-height: 1.5;
}

.chi-sono-img img {
  width: 100%;
  padding-top: 0;
}


}

